/*
    Import custom font
*/
@import url('https://fonts.googleapis.com/css?family=Heebo');
body{
    font-family: Heebo;
}
/*
 * Styles for navigation
 */

#nbtools {
    height: 450px;
    overflow-y: auto;
    padding-right: 10px;
}

#nbtools .tab-content {
    flex: auto;
    -ms-flex: auto;
    -moz-flex: auto;
    -webkit-flex: auto;
    height: 400px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    border-left: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    border-right: solid 1px lightgray;
}

#nbtools-tabs .active {
    background-color: #ffffff;
}

#nbtools-tabs .tab-pane {
    overflow: auto;
}

#nbtools-filter-box {
    float: right;
    padding: 7px;
    position: absolute;
    right: 40px;
    top: -40px;
}

.nbtools-button {
    color: white;
    z-index: 5;
    box-shadow: 2px 2px 1px #cecece;
    height: 40px;
    opacity: 0.5;
    width: 40px;
    background-color: #0a2d69;
    display: inline-block;
    font-size: 1.7em;
    line-height: 1.6;
    text-align: center;
    border: medium none;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.nbtools-tool {
    cursor: pointer;
    position: relative;
    margin: 10px;
}

.nbtools-tool:hover {
    background-color: #e4e4e4;
}

.nbtools-tool .nbtools-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nbtools-tool .nbtools-anno {
    color: gray;
    position: absolute;
    right: 15px;
    top: 10px;
}

.nbtools-tool .nbtools-desc {
    color: #333366;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.nbtools-tool .nbtools-tags {
    display: block;
    color: rgba(10, 45, 105, 1);
    padding: 5px;
}


/*
 * output_subarea and selected cell fix
 */

div.output_subarea {
    overflow: visible;
}

div.cell.selected {
    z-index: 10;
}


/*
 * Choice Input Styles
 */

.nbtools-choice-select {
    position: relative;
    left: -10px;
}


/*
 * File Input Styles
 */

.nbtools-file {
    /* border: 2px dashed darkgray; */
    display: inline-block;
    min-width: 450px;
    width: 100%;
    padding: 9px 10px 10px;
    white-space: normal;
    word-break: break-all;
}

.nbtools-file-upload {
    position: relative;
}

.nbtools-file-upload-file {
    margin-right: 7px;
    /* background-color: red; */
    background-color: #8477CF;
    color: white;
    font-family: Heebo;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 30px;
}

.nbtools-file-input-file {
    display: none;
    position: absolute;
    z-index: -1000;
}

.nbtools-file-drop {
    color: darkgray;
    letter-spacing: 1px;
    position: absolute;
    display: block;
    float: right;
    bottom: 0;
    right: 0;
}

.nbtools-file-size {
    font-size: 0.9em;
    font-style: italic;
    margin-left: 5px;
    margin-top: 5px;
}

.nbtools-file-value {
    background-color: #f7f7f7;
    margin-top: 10px;
    overflow: hidden;
    padding: 4px;
    line-height: 2.2em;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    padding-right: 40px;
}

.nbtools-file-value-upload {
    background-color: #dadada;
}

.nbtools-file-value-erase {
    position: absolute;
    right: 5px;
    top: 5px;
}

.nbtools-file-path-label {
    font-weight: bold;
    text-align: left !important;
}

.nbtools-file-path-buttons {
    margin-top: 5px;
    text-align: right;
}

.nbtools-file-warning {
    margin-top: 10px;
}

/*
 * Typeahead Styles
 */

.nbtools-typeahead {
    display: inline-block;
}

.nbtools-typeahead-arrow {
    font-size: 20px;
    line-height: 32px;
    cursor: pointer;
}

.nbtools-typeahead-input {
    display: inline-block;
}

.nbtools-typeahead-group {
    margin-bottom: 0;
}

.nbtools-typeahead-list {
    min-width: 100%;
    margin-top: -1px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.nbtools-typeahead-list .dropdown-header {
    font-weight: bold;
}

.nbtools-typeahead-list .dropdown-file {
    padding-left: 40px;
}

/*
 * UI Output Styles
 */

.nbtools-output-text {
    margin-top: 20px;
}

.nbtools-output-text > pre {
    word-break: normal;
}

.nbtools-output-status {
    padding-bottom: 3px;
    text-align: right;
    padding-right: 20px;
    color: #303F9F;
    font-family: monospace;
}

.nbtools-output-right {
    float: right;
    position: relative;
    z-index: 1;
    top: 6px;
    right: 7px;
}

/*
 * General widget styles
 */

.nbtools-widget.panel {
    margin-bottom: 0;
}

.nbtools-widget {
    width: 100%;
    max-width: 100%;
    border: 1px solid #979797;
    /* border-color: rgba(43, 43, 43, 0.8); */
    /* overflow: visible !important; */
}

.nbtools-widget .panel-heading {
    /* background-color: rgba(43, 43, 43, 0.8); */
    color: white;
    margin-top: 1px;
    border: none;
    height: 40px;
}

.nbtools-widget-right {
    float: right;
    position: relative;
    top: -3px;
    left: 7px;
}

.nbtools-widget-logo {
    height: 20px !important;
    float: left;
    padding-right: 10px;
    position: relative;
    left: -5px;
    top: -2px;
}

.nbtools-widget label {
    font-weight: bold;
}

.nbtools-widget .btn-primary {
    /* border-color: rgba(43, 43, 43, 0.8);
    background-color: rgba(43, 43, 43, 0.8); */
    border: none;
    background-color: #8477CF;
    border-radius: 5px;
}

/*
 * UI Builder styles
 */


.nbtools-uibuilder > .panel-body {
    padding: 0;
}

.nbtools-uibuilder-subheader {
    border-bottom: 1px solid rgba(10, 45, 105, 0.8);
    background: #d3d3d355;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.nbtools-uibuilder-form {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nbtools-uibuilder-footer {
    border-top: 1px solid #979797;
    padding-top: 10px;
    background: #f5f5f5;
    padding-left: 10px;
    padding-right: 10px;
}

.nbtools-uibuilder-run {
    overflow: auto;
    margin-left: 20px;
    font-size: 0.9em;
    padding-top: 10px;
    float: right;
}

.nbtools-uibuilder-run > button {
    float: right;
    position: relative;
    top: -10px;
}

.nbtools-uibuilder-param {
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 20px;
}

.nbtools-uibuilder-param-name {
    display: inline-block;
    min-width: 150px;
    font-weight: bold;
    font-size: 0.9em;
    vertical-align: top;
    padding-top: 10px;
    padding-right: 10px;
}

.nbtools-uibuilder-param-wrapper {
    vertical-align: top;
    padding-left: 10px;
}

.nbtools-uibuilder-param-desc {
    font-size: 0.9em;
    margin-top: 5px;
}